.detail_header{
    display: block;
    flex-flow: row wrap;
    align-items: center;
    background: #fd3030;
    padding: 20px;
    margin-bottom: 30px;
    height: 110px;
}
.detail_header label{
    font-size: 30px;
    font-family: "Courier New";
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    display: inline-block;
}

.sprite{
    width: 300px;
    height: auto;
}

@media (max-width:900px) and (min-width:650px){
    .sprite{
        width: 250px;
        height: auto;
    }
}

@media (max-width:649px) and (min-width:450px){
    .sprite{
        width: 175px;
        height: auto;
    }
}

@media (max-width:449px) {
    .sprite{
        width: 150px;
        height: auto;
    }
}

/*Unter 650px breite anpassung der darstellung*/

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 2 / 2 / 6;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

#bold_words{
    font-weight: bold;

}
.div1 img{
    margin: 5em;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 100px;
}
.div2 {
    grid-area: 4 / 2 /2 / 4;
    background: white;
    text-transform: capitalize;
    font-weight: normal;
    padding-top: 2em;
    padding-left: 2em;
    font-family: "Courier New";
    font-size: larger;

}

.div3 {
    grid-area: 4 / 4 / 2 / 6;
    background: white;
    text-transform: capitalize;
    font-weight: normal;
    padding-top: 2em;
    font-family: "Courier New";
    font-size: larger;
    padding-left: 2em;

}

@media screen and (max-width: 649px){
    .parent{
        grid-template-columns: 5px 1fr;
        height: 50px;
        width: auto;
        padding-right: 20px;
        padding-left: 20px;
        padding-bottom: 5px;
    }

    .div2{
        grid-area: 2 /2 /-1 / 6;
    }

    .div3{
        grid-area: 3 / 2 /-1 / 6;
    }
}

ul{
    list-style-type: decimal;
}
