.Cell {
    background: #f2f2f2;
    border-radius: 50%;
    width: 300px;
}

.Cell_img {
    text-align: center;
}


.Cell_name {
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    padding-bottom: 5px;
    font-family: "Courier New";
    font-weight: bolder;
}

a {
    text-decoration: none;
    text-underline: none;
    color: black;
}
