.form-inline {
  display: block;
  flex-flow: row wrap;
  align-items: center;
  background: #fd3030;
  padding: 20px;
  margin-bottom: 30px;
  height: 110px;
}

.form-inline label {
  font-size: 30px;
  font-family: "Courier New";
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  display: inline-block;
}

.search-nav {
  display: inline-block;
  float: right;
  border: 2px solid white;
  border-radius: 10px;
  margin-top: -50px;
}

.form-inline input {
  padding: 10px;
  background-color: #fd3030;
  font-family: "Courier New";
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
}

::placeholder {
  color: white;
}

.form-inline Button {
  border: none;
  margin-left: 5px;
  opacity: 50;
}

.color-nav {
  background: #fd3030;
  padding: 20px;
  margin-bottom: 30px;
}

.nav-name {
  color: white;
  font-family: "Courier New";
}

.nav-form-button {
  float: right;
}
.nav-form-filed {
  float: right;
}

.search-nav Button {
  color: white;
  background: #fd3030;
  border: 2px white;
  outline: none;
  pointer-events: none;
}

@media screen and (max-width: 453px) {
  .form-inline {
    display: block;
    flex-flow: row wrap;
    align-items: center;
    background: #fd3030;
    margin-bottom: 30px;
    height: 150px;
  }

  .search-nav {
    float: left;
    margin-top: 15px;
    position: absolute;
  }
}

@media screen and (min-width: 454px) and (max-width: 550px) {
  .form-inline {
    background: #fd3030;
    margin-bottom: 30px;
    height: 120px;
  }

  .form-inline label {
    font-size: 30px;
    font-family: "Courier New";
    color: white;
    float: left;
    display: flex;
  }

  .search-nav {
    margin-top: 10px;
    float: left;
    margin-right: 20%;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #fd3030;
  color: white;
  font-size: 16px;
  font-family: "Courier New";
  border: none;
  outline: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  width: fit-content;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #343232;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #403f3f;
  z-index: 1;
  font-family: "Courier New";
}

/* Buttons inside the dropdown */
.dropdown-content button {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: "Courier New";
  background: #343232;
  outline: none;
}

/* Change color of dropdown buttons on hover */
.dropdown-content button:hover {
  background-color: #2b2a2a;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #403f3f;
}
