* {
    box-sizing: border-box;
}

.grid-container {
    width: 70%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
    justify-items: center;
}

.btn-field {
    align-items: center;
    margin-top: 15px;
    justify-content: center;
    display: flex;
}

.btn-l {
   background-color: #fd3030;
    color: white;
    border-style: none;
    margin-right: 10px;
    padding: 5px;
    width: 40px;
    height: 40px;
}

.btn-r {
    background-color: #fd3030;
    color: white;
    border-style: none;
    padding: 5px;
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1500px){

    .btn-field{
        margin-top: 25px;
        margin-bottom: 15px;
    }

    .btn-l{
        font-size: large;
    }

    .btn-r{
        font-size: large;
    }

}

@media screen and (max-width: 360px){
    .grid-container{
       justify-items: center;
        margin-right: 22.5%;
    }
}

@media screen and (min-width: 360px) and (max-width: 410px){
    .grid-container{
        justify-items: center;
        margin-right: 18.5%;
    }
}

footer{
    color: white;
    font-size: smaller;
    margin-left: 5px;
}

#foot *{
    color: white;
    outline: none;
    font-size: smaller;
    outline: none;
}
