.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 2 / 2 / 6;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
}

#bold_words{
    font-weight: bold;

}
.div1 img{
    margin: 5em;
    text-align: center;
    background-color: rgba(128, 128, 128, 0.8);
    border-radius: 300px;
}
.div2 {
    grid-area: 4 / 2 /2 / 4;
    background: white;
    text-transform: capitalize;
    font-weight: normal;
    padding-top: 2em;
    padding-left: 2em;
    font-family: "Courier New";
    font-size: larger;

}

.div3 {
    grid-area: 4 / 4 / 2 / 6;
    background: white;
    text-transform: capitalize;
    font-weight: normal;
    padding-top: 2em;
    font-family: "Courier New";
    font-size: larger;
    padding-left: 2em;

}


ul{
    list-style-type: decimal;
}
